<section class="section-intro">
    <p>
        Radio Herrenzimmer is a collection of mixes I'm creating in my very own room in the basement. Styles vary from <span class="genre">Techno</span>to <span class="genre">Deep House</span> and
        <span class="genre">Tech House</span>, <span class="genre">Minimal</span> and
        <span class="genre">Drum &amp; Bass</span>.
        <span *ngIf="!showMore"><a href="#" (click)="showMore = true">Click to read more</a> or simply start listening now.</span>
        <span *ngIf="showMore">
          My current setup consists of a Macbook Pro 2012 and Traktor Scratch A6, two 1210 turntables, 
          the Traktor Kontrol X1 controller, a Pioneer DJM-250-K mixer and my 20 year old stereo system. 
          I also use two Pioneer XDJ-700 players.
        </span>
    </p>
    <ng-container *ngIf="showMore">
        <p>
            Currently the mixes are hosted on <a href="http://soundcloud.com/onkeltoob" target="_blank">Soundcloud</a>,
            <a href="http://www.mixcloud.com/onkeltoob" target="_blank">Mixcloud</a> (with some delay), and
            <a href="https://hearthis.at/onkeltoob" title="hearthis.at" target="_blank">hearthis.at</a> (even more delay). Radio Herrenzimmer is also available as iTunes podcast. Simply search for "herrenzimmer" in the iTunes store, locate the "Podcasts"
            section and subscribe by clicking on the Radio Herrenzimmer image. You can also copy and paste the following URL if you're using any other podcast software:
            <a href="http://feeds.soundcloud.com/users/soundcloud:users:29348258/sounds.rss" target="_blank">http://feeds.soundcloud.com/users/soundcloud:users:29348258/sounds.rss</a>.
        </p>
        <p><a href="#" (click)="showMore = false">Click to hide this useless information</a> and start listening already.</p>
    </ng-container>
</section>