@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

/********************************
* Allgemeines
********************************/

body {
    background-image: url(/assets/img/linen.jpg);
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    line-height: 30px;
    padding-top: 10px;
    color: $rh-font-color;
    font-family: $rh-font-family-sans-serif;
    font-size: 18px;
}


/********************************
* Komponenten
********************************/

.component {
    display: block;
    width: 100%;
}


/********************************
* Überschriften
********************************/

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: 'Droid Serif', serif;
}